2019_Py_LSP/**/*._ls
**/*._ls
2019_Py_LSP/**/*.png
home/fii/**/*.png
home/fii/**/Report.txt
home/fii/**/*.csv
2019_Py_LSP/Py/Referencia/Threading/*.jpg
2019_Py_LSP/Py/Referencia/Threading/**/*.jpg
Home/fii/~$AnaliseFII_Completa.xlsx
home/acoes/Tables/*.xlsx
home/acoes/Graph/*.png
Home/acoes/CheckPoint.asc
Home/acoes/CheckPoint.txt
Home/acoes/CheckPoint_Error.txt
Home/acoes/Report.csv
Home/acoes/__pycache__/make_data.cpython-37.pyc
2019_Py_LSP/Notebook/.ipynb_checkpoints/*
Notebooks/Anatocoes/.ipynb_checkpoints/*
Notebooks/.ipynb_checkpoints/*
2019_Py_LSP/.ipynb_checkpoints/*
.ipynb_checkpoints/*
