2019_Py_LSP/**/*._ls
**/*._ls
2019_Py_LSP/**/*.png
home/fii/**/*.png
home/fii/**/Report.txt
home/fii/**/*.csv
2019_Py_LSP/Py/Referencia/Threading/*.jpg
2019_Py_LSP/Py/Referencia/Threading/**/*.jpg
Home/fii/~$AnaliseFII_Completa.xlsx
home/acoes/**/*.xlsx
home/acoes/**/*.png
Home/acoes/CheckPoint.asc
Home/acoes/CheckPoint.asc
Home/acoes/CheckPoint.txt
Home/acoes/CheckPoint_Error.txt
Home/acoes/Report.csv
